:root {
  --blue-1: #335ceb;
  --purple-1: #7441ea;
  --secondary: #678b90;
  --red: #c03333;

  --light-blue: #e0e9fe;
  --light-pink: #f1e8ff;

  --background-color: #f7f6ff;
  --linear-gradient: linear-gradient(
    to right,
    var(--blue-1) 50%,
    var(--purple-1)
  );

  --linear-gradient-dark: linear-gradient(to right, #2541a5 50%, #532dab);
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* Navigation */
.container {
  width: min(95%, 120rem);
  margin-inline: auto;
}

.navigation-container {
  background-color: white;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
}

.navigation__logo {
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 1rem;
}

.navigation__logo h1 {
  font-size: 3rem;
}

.navigation__logo h1 span {
  font-size: 1.5rem;
  display: block;
  font-weight: normal;
}

.navigation__logo svg {
  height: 5rem;
  padding: 1rem;
}

.navigation__logo-box {
  background: var(--linear-gradient);
  color: white;
  border-radius: 1rem;
}

.navigation__user {
  display: flex;
  gap: 2rem;
}

.navigation__user-logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navigation__user-logo svg {
  height: 2rem;
}

.navigation__signout {
  background-color: transparent;
  font-family: inherit;
  color: var(--red);
  font-weight: bold;
}

/* Form */
.form {
  background-color: white;
  margin-block: 4rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  width: min(60%);
  padding: 2rem;
  border-radius: 1rem;
}

.form__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form__logo {
  background: var(--linear-gradient);
  color: white;
  border-radius: 50%;
  padding: 1rem;
}

.form__logo svg {
  height: 2rem;
}

.form__title {
  font-size: 2.5rem;
}

.form__bottom {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-block: 1rem;
}

.form__input-container {
  position: relative;
}

.form__link-icon {
  color: gray;
  width: 2rem;
  position: absolute;
  top: 2.5rem;
  left: 1rem;
  background-color: white;
}

.form__bottom input {
  padding: 1.5rem;
  font-family: inherit;
  border-radius: 1rem;
  border: 1px solid gray;
}

#url {
  padding-left: 4rem;
}

.form__bottom input:focus {
  outline: 1px solid var(--blue-1);
}

.form__submit {
  width: 100%;
  border: none;
  background: var(--linear-gradient);
  color: white;
  font-size: 1.8rem;
  font-family: inherit;
  padding-block: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  transition: all 1s;
}

.form__submit:hover {
  cursor: pointer;

  background: var(--linear-gradient-dark);
}

/* Welcome */
.welcome {
  background: var(--linear-gradient);
  color: white;
  padding: 2rem;
  margin-block: 2rem;
  border-radius: 1rem;
}

.welcome__header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

/* Tabs */
.tabs {
  display: flex;
  gap: 2rem;
  border-bottom: 1px solid var(--secondary);
}

.tab__btn {
  display: flex;
  color: var(--secondary);
  gap: 0.5rem;
  align-items: center;
  border: 2px solid transparent;
  background-color: transparent;
  padding: 0.5rem 1rem;

  transition: all 0.3s;
  font-size: 1.5rem;
  font-weight: bold;
}

.tab__btn.active {
  border-bottom: 2px solid var(--blue-1);
  color: var(--blue-1);
}

.tab__btn svg {
  height: 2rem;
}

.tab__btn:hover:not(.active) {
  border-bottom: 2px solid var(--secondary);
  color: black;
}

/* No links */
.no-links {
  display: grid;
  place-content: center;
  min-height: 100%;
  padding-block: 10rem;
  text-align: center;
}

.no-links > div {
  background: linear-gradient(to right, var(--light-blue), var(--light-pink));
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-links svg {
  width: 6rem;
  color: var(--blue-1);
}

.no-links__header {
  font-size: 2.5rem;
  font-weight: bold;
  margin-block: 2rem;
}

.no-links__text {
  font-size: 1.8rem;
}

/* Form */
.login {
  width: min(50%, 120rem);
  margin-inline: auto;
  text-align: center;
  padding-top: 5rem;
}

.login > div {
  align-items: center;
  justify-content: center;
}

.form-login {
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 2rem;
}

.form-login h2 {
  font-size: 3rem;
}

.login-intro {
  margin-block: 2rem;
  color: var(--secondary);
}

.form-login__inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block: 2rem;
}

.form-login__intro {
  margin-block: 2rem;
}

.form-login__inputs input {
  padding: 1.5rem 1.5rem 1.5rem 4rem;
  font-family: inherit;
  border-radius: 1rem;
  border: 1px solid var(--secondary);
  font-size: 1.5rem;
}

.form-login__inputs input:focus {
  outline: 1px solid var(--blue-1);
  box-shadow: rgba(99, 99, 99, 0.274) 0px 2px 8px 0px;
}

.form-login__submit {
  background: var(--linear-gradient);
  border: none;
  color: white;
  width: 100%;
  padding-block: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s;
}

.form-login__submit:hover {
  cursor: pointer;
  transform: scale(1.01);
  background: var(--linear-gradient-dark);

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form__signup {
  margin-top: 1rem;
}

.form__signup span {
  font-weight: bold;
  color: var(--blue-1);
  cursor: pointer;
}
